Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g27, pull requests merged in 2022-09, with the labels that each got.

#19 [Frontend] Created UI for Login and Landing Pages
  .github/workflows/frontend-ci.yaml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/LandingPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/NavigationBar.js
  frontend/src/components/SignupPage.js
  frontend/src/components/TestingPage.js
  frontend/src/configs.js
  frontend/src/constants.js
  frontend/src/fonts/Montserrat-Italic-VariableFont_wght.ttf
  frontend/src/fonts/Montserrat-VariableFont_wght.ttf
  frontend/src/fonts/Montserrat/Montserrat-Black.ttf
  frontend/src/fonts/Montserrat/Montserrat-BlackItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Bold.ttf
  frontend/src/fonts/Montserrat/Montserrat-BoldItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-ExtraBold.ttf
  frontend/src/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-ExtraLight.ttf
  frontend/src/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Italic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Light.ttf
  frontend/src/fonts/Montserrat/Montserrat-LightItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Medium.ttf
  frontend/src/fonts/Montserrat/Montserrat-MediumItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Regular.ttf
  frontend/src/fonts/Montserrat/Montserrat-SemiBold.ttf
  frontend/src/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf
  frontend/src/fonts/Montserrat/Montserrat-Thin.ttf
  frontend/src/fonts/Montserrat/Montserrat-ThinItalic.ttf
  frontend/src/fonts/OFL.txt
  frontend/src/fonts/README.txt
  frontend/src/index.css
  frontend/src/index.js
  gke/frontend-deployment.yaml
  user-service/index.js
Labels: frontend

#27 Fix user-service api calls from frontend
  frontend/src/components/LoginPage.js
  frontend/src/components/SignupPage.js
  frontend/src/configs.js
  user-service/controller/user-controller.js
Labels: bug, frontend

#29 Enable User Service Deployment to take in env vars via Kubernetes Secrets
  gke/user-service-deployment.yaml
  user-service/.gitignore
Labels: user-service, deployment

#30 Matching service performance benchmarking
  gke/matching-service-deployment.yaml
  matching-service/controller/match-controller.js
  matching-service/package-lock.json
  matching-service/package.json
  matching-service/test/load_test.yml
Labels: matching-service

#42 Nginx API authentication gateway
  .github/workflows/gateway-cd.yaml
  frontend/Dockerfile
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/configs.js
  gateway/Dockerfile
  gateway/nginx-jwt.lua
  gateway/nginx.conf
  gke/.gitignore
  gke/frontend-deployment.yaml
  gke/gateway-deployment.yaml
  gke/gateway-ingress.yaml
  gke/gateway-service.yaml
  gke/matching-service-deployment.yaml
  gke/user-service-ingress.yaml
  matching-service/Dockerfile
  matching-service/index.js
  user-service/index.js
Labels: deployment

#43 Enable password reset via email push
  user-service/controller/pwd-reset-controller.js
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/model/pwd-reset-model.js
  user-service/model/pwd-reset-orm.js
  user-service/model/repository.js
  user-service/package-lock.json
  user-service/package.json
Labels: user-service

#44 Question Service Setup
  question-service/.eslintrc.js
  question-service/.gitignore
  question-service/.prettierrc
  question-service/package-lock.json
  question-service/package.json
  question-service/src/config.js
  question-service/src/controller/question-controller.js
  question-service/src/index.js
  question-service/src/leetcode/leetcode.js
Labels: question-service

#55 Deploy question service
  .github/workflows/question-service-cd.yaml
  .github/workflows/question-service-ci.yaml
  gateway/nginx.conf
  gke/question-service-deployment.yaml
  gke/question-service-service.yaml
  question-service/Dockerfile
Labels: question-service
