Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g27, pull requests merged in 2022-10, with the labels that each got.

#58 Bugfix for user svc password reset api
  frontend/src/App.js
  frontend/src/configs.js
  user-service/controller/pwd-reset-controller.js
Labels: user-service

#59 Completes F5.1, F5.3, F5.4, F5.10 for frontend
  collab-service/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/axiosApiInstance.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/NavigationBar.js
  frontend/src/components/ResetPage.js
  frontend/src/components/RoomPage.js
  frontend/src/components/editor/CodeEditorLanding.js
  frontend/src/components/editor/CodeEditorWindow.js
  frontend/src/components/editor/CustomInput.js
  frontend/src/components/editor/LanguagesDropdown.js
  frontend/src/components/editor/QuestionDropdown.js
  frontend/src/components/editor/QuestionWindow.js
  frontend/src/components/editor/ThemeDropdown.js
  frontend/src/configs.js
  frontend/src/constants/customStyles.js
  matching-service/controller/match-controller.js
  matching-service/package-lock.json
  user-service/controller/user-controller.js
Labels: frontend

#70 Add Chat feature, Completes FR4.2 and half of FR4.1(Chat only)
  README.md
  collab-service/.dockerignore
  comm-service/.dockerignore
  comm-service/.gitignore
  comm-service/Dockerfile
  comm-service/controller/comm-controller.js
  comm-service/index.js
  comm-service/package-lock.json
  comm-service/package.json
  comm-service/services/socket.js
  docker-compose.yml
  frontend/src/components/RoomPage.js
  frontend/src/components/chat/ChatBody.js
  frontend/src/components/chat/ChatFooter.js
  frontend/src/components/chat/ChatWindow.js
  frontend/src/components/chat/InterviewQns.js
  frontend/src/components/chat/QuestionSelector.js
  frontend/src/configs.js
  frontend/src/index.css
  gateway/nginx.conf
  gke/comm-service-deployment.yaml
  gke/comm-service-service.yaml
  user-service/.dockerignore
Labels: communication-service

#72 Add comm svc ci and cd
  .github/workflows/comm-service.cd.yaml
  .github/workflows/comm-service.ci.yaml
Labels: communication-service

#71 Modify layout of chat feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RoomPage.js
  frontend/src/components/chat/ChatBody.js
  frontend/src/components/chat/ChatFooter.js
  frontend/src/components/chat/ChatWindow.js
  frontend/src/components/chat/QuestionSelector.js
  frontend/src/index.css
Labels: frontend

#83 Add interview/interviewee based functionality
  comm-service/controller/comm-controller.js
  comm-service/index.js
  frontend/src/components/RoomPage.js
  frontend/src/components/chat/ChatBody.js
  frontend/src/components/chat/ChatWindow.js
  frontend/src/components/chat/InterviewQns.js
  frontend/src/components/editor/CodeEditorLanding.js
  frontend/src/components/editor/QuestionWindow.js
  frontend/src/configs.js
  frontend/src/constants.js
  question-service/package-lock.json
Labels: frontend, communication-service

#88 Minor fixes to UI
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/index.css
Labels: frontend

#101 Add 'End Session' confirmation dialog and removed 'Proceed Alone' option
  frontend/package.json
  frontend/src/components/MatchingPage.js
  frontend/src/components/RoomPage.js
Labels: frontend
